<table>
	<thead>
		<tr>
			<th>Name</th>
			{{!-- <th>Population</th> --}}
			<th>World Pop %</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		{{#each .}}
		<tr>
			<td><a href="{{url}}" target="_blank">{{name}}</a></td>
			{{!-- <td>{{population}}</td> --}}
			<td>{{percentage}}</td>
			<td>{{year}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>